
.up-box1{

    background-color: #333333; 
    color: white; 
    height: 60px;
    width: auto
}
.up-box2{
    /* background-color:#1594c3;#09ac83 */
    background-image: linear-gradient(to right top,#1594c3,#09ac83,#03b864)  ;
    color:white;
    height: 40px;
    width:100%;
}
.up-box3{
    background-color: white;
    color: black;
    height: 80px;
}
.title{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-size: 70px;
}